.jumbotron {
  padding: 0 30px 5px 10px !important;
  margin-bottom: 5px !important;
}

iframe {
  border: none;
  height: 100%;
  width: 100%
}

.status-online {
	background-color: #dff0d8;
}

.status-errored {
	background-color: #f2dede;
}
